@import '../../style/textarea.module';
@import '../../style/primaryBtn.module';
@import '../../style/_paragraph.module';

.container{
    margin: 50px 0;
}
.messageBtn{
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}
.hint{
    order:2;
    margin: 0;
}
.primaryBtn{
    margin: 0 20px 0 0;
}
.posts{
    margin: 50px 0 0 0;
}
