.profile-page{
    width: 900px;
    margin: 0 auto;
    border:1px solid #fff
}
.profile-info{
    margin: auto;
    width: fit-content;
    display: flex;
    gap: 100px;
}
.profile-img {
    width: 300px;
}
.profile-img img{
    border-radius: 50%;
    width: 150px;
    margin: 0 auto;
    display: block;
}
.profile-details{
    width: 350px;
}